.bg{

    background-color: #374050;
}

.txt{
    color: #FF5245;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.fs-54{
    font-size: 50pt;
}
.fs-18{
    font-size: 18pt;
}